.grid-container {
    background-color: #0B4390;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 40%;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #btn, #menu-btn{
    background-color: #93C120;
    font-size: 25px;
    font-weight: bold;
    width: 200px;
  }

  #menu-optie, #storing{
    height: 35px;
  }
  
  #logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .save{
    display: none;
  }