<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Table Example</title>
</head>

<body>
    <img src="{{ url_for('static', filename='image/logo.jpg') }}" id="logo">
    <div class="grid-container">
        <div class="grid-item">
            <input type="text" id="menu-optie">
            <input type="button" class="button" value="New menu" id="menu-btn">
            <br>
            <select name="storing" id="storing">
                {% for item in menu %}
                <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
            <input type="button" class="button" value="Log storing" id="btn">
        </div>
        <div class="grid-item">
            <table id="myTable">
                <tr>
                    <th>Datum/tijd</th>
                    <th>Storing</th>
                </tr>
                {% for x in range(itemcount -1, -1, -1) %}
                <tr>
                    <td id="time-{{x}}">{{items[x].time}}</td>
                    <td>
                        <select name="storing" id="error-{{x}}" disabled>
                            {% for item in menu %}
                            <option value="{{item}}" {% if item == items[x].error %}selected="selected" {% endif %}>
                                {{item}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><button type="button" onclick="edit(this.id)" id="edit-{{x}}">Edit</button></td>
                    <td><button type="button" onclick="save(this.id)" id="save-{{x}}" class="save">Save</button></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>